#plate_list_ux_interaction_parent {}

#plate_list_ux_interaction_parent .T_uuid {
    display: none;
}

#plate_list_ux_interaction_parent TH {
    white-space: normal;
}

#plate_list_ux_interaction_parent TD {
    white-space: nowrap;
}

#plate_list_ux_interaction_parent TH.T_count {
    text-align: center;
}

#plate_list_ux_interaction_parent TH,
#plate_list_ux_interaction_parent TD {
    vertical-align: bottom;
}

/* Fields with integer counts. */
#plate_list_ux_interaction_parent .T_count {
    text-align: right;
}

TD.T_clickable {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}