[bumpversion]
current_version = 0.0.3
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)(?P<build>\d+))?
serialize =
	{major}.{minor}.{patch}-{release}{build}
	{major}.{minor}.{patch}
message = :memo: Bump up to version {current_version} -> {new_version}.

[bumpversion:part:release]
optional_value = a
first_value = a
values =
	a
	b
	rc

[bumpversion:part:build]
first_value = 1

[bumpversion:file:./dup_fmt/__about__.py]

[bumpversion:file:./docs/en/docs/CHANGELOG.md]
search = ## Unreleased
replace = ## Version {new_version}
