[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = 'auto-screener'
version = '1.0.1'
description = 'A software for automatically screening crypto exchanges for crypto pairs trading prices and rates.'
classifiers = [
	'Intended Audience :: Developers',
	'License :: OSI Approved :: MIT License',
	'Programming Language :: Python',
	'Programming Language :: Python :: 3',
	'Programming Language :: Python :: 3.8',
	'Programming Language :: Python :: 3.9',
	'Programming Language :: Python :: 3.10',
	'Programming Language :: Python :: 3.11',
	'Operating System :: OS Independent'
]